@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* open css navbar */
#top-nav {
    transition: 1s;

}

#navitem {
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.hreff-card {
    text-decoration: none;
}

#navitem a.nav-custom {
    font-size: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

#navitem a.nav-custom:hover {
    color: rgb(91, 0, 121);
}

.nav-custom::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color:rgb(91, 0, 121);
    transition: width .3s;
}

.nav-custom:hover::after {
    width: 100%;
    transition: width .3s;
}

.button-auth-nav {
    height: 43px;
    border-radius: 6px;
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 46px;
    gap: 10px;
    color: white;
    background-color: transparent;
    transition: 0.5s;
    background: linear-gradient(90deg, #096DE7 0%, #434FD7 52.07%, #6D3ACB 99.99%), linear-gradient(136.68deg, #0C82E9 0%, #0BDFF7 103.11%);
}

.btn-auth-cs {
  width: 134px;
  height: 43px;
  border: 2px solid linear-gradient(90deg, #096DE7 0%, #434FD7 52.07%, #6D3ACB 99.99%), linear-gradient(136.68deg, #0C82E9 0%, #0BDFF7 103.11%);
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 46px;
  gap: 10px;
  color: linear-gradient(90deg, #096DE7 0%, #434FD7 52.07%, #6D3ACB 99.99%), linear-gradient(136.68deg, #0C82E9 0%, #0BDFF7 103.11%);
  background-color: transparent;
  transition: 0.5s;
}

.btn-auth-cs:hover {
    background: linear-gradient(90deg, #096DE7 0%, #434FD7 52.07%, #6D3ACB 99.99%), linear-gradient(136.68deg, #0C82E9 0%, #0BDFF7 103.11%);
box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    border: none;
    
}

.p-cs-max {
    padding: 15px;
}

.btn-shop-now{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 54px;
gap: 10px;
    width: 250px;
height: 61px;
background: linear-gradient(90deg, #096DE7 0%, #434FD7 52.07%, #6D3ACB 99.99%), linear-gradient(136.68deg, #0C82E9 0%, #0BDFF7 103.11%);
border-radius: 6px;
color: white;
border: none;
transition: 0.5s;
}

.btn-shop-now :hover{
box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.657);
border-radius: 6px;
width: 100px;
}

.image-banner{
    position: absolute;
    right: -70px;
}
/* open css banner */

.background-banner-image {
    background-image: url('../image/image-big/background-green.png');
    height: 650px;
    background-repeat: no-repeat;
}
.background-menu{
    background-image: url('../image/test.png');
    height: 800px;
    background-repeat: no-repeat;
}
.menu-text{
    
    width: 500px;
    padding-top: 200px;
    color: #fff;
}

.image-banner {
    margin-left: -80px;
}

.heading-h1-banner {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 71px;
    text-transform: capitalize;
    color: #000000;
    width: 600px;
}

.paraf-p-banner {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.margin-top-banner {
    margin-top: 150px;
}


.form-control-cs-search {
    height: 65px;
    width: 400px;
    position: relative;
}

.btn-cs-search {
    position: absolute;
    width: 130px;
    height: 65px;
    background: #FFB800;
    border-radius: 20px;
    border: 20px #fff;
}

form.search input::placeholder {
    border-radius:  20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #E1E1E1;    
}


form.search input[type=text]{
    width: 480px;
    height: 65px;
    padding: 17px;
    border: 2px solid #fff;
    font-size: 17px;
    float: left;
    display: flex;
    border-radius:  20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #E1E1E1;
  }

  form.search button {
    width: 130px;
    height: 65px;
    float: left;
    padding: 17px;
    border: 2px solid #fff;
    font-size: 17px;
    position: absolute;
    margin-left: -130px;
    border-left: none;
    color: white;
    background: #FFB800;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    transition: 0.5s;
  }
  
  form.search button:hover {
    width: 130px;
    height: 65px;
    float: left;
    padding: 17px;
    border: 2px solid rgb(70, 0, 113);
    font-size: 17px;
    position: absolute;
    margin-left: -130px;
    border-left: none;
    color: white;
    background: #ecb102;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
  }
  
  form.search::after {
    content: "";
    clear: both;
    display: table;  
  }
  
/* close css banner */


/* open order  */
.heading-h2-cs-page {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.mt-max-page {
    margin-top: 130px;
}

.paraf-p-follow {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #858585;
    width: 444px;   
    margin: 0px auto; 
}

.card-cs-background-green {
    background: linear-gradient(90deg, #096DE7 0%, #434FD7 52.07%, #6D3ACB 99.99%), linear-gradient(136.68deg, #0C82E9 0%, #0BDFF7 103.11%);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 300px;
    width: 300px;
    border: none;
}

.card-cs-background-white {
    background: #fff;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    border: none;
}


.card-title-cs-green {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.card-title-cs-white {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.paraf-p-cs-order-detail-pay {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.paraf-p-cs-order-detail-pay-white {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #858585;
}

.icon-right {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #1300bb;
    border-radius: 50%;
    margin: 0px auto;
    margin: 125px auto;
}

.icon-right-white {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #1300bb;
    border-radius: 50%;
    margin: 0px auto;   
    margin: 125px auto;
}

.marleft-col-md-1 {
    margin-left: 35px;
}

.group-middle-margin-card {
    margin: 30px auto;
}
/* close order */


/* open about */
.title-about-h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #1d00ad;
}

.heading-about-h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    color: #000000;
}

.paraf-cs-about {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #858585;
}

.title-h5-count {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.05em;
    color: #1d00ad;
}

.paraf-p-count {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #858585;
}

/* close about */

/* open our menu */
#our-menu {
    background-color: #F8F9FB;
    padding: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.menu {
    background-color: #F8F9FB;
    padding: 100px;
    margin-top: 0px;
    margin-bottom: 100px;
}

.heading-our-menu-h1-cs {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    color: #000000;
}

.btn-our-menu {
    background: #FFFFFF;
    border-radius: 6px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #4b4b4b;
}

.btn-our-menu:hover {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    background: linear-gradient(90deg, #096DE7 0%, #434FD7 52.07%, #6D3ACB 99.99%), linear-gradient(136.68deg, #0C82E9 0%, #0BDFF7 103.11%);;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    color: white;
}
/* .row .rating{
    height: auto;
    width: 100px;
} */
.card-our-menu {
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    height: 400px;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.1));
    border: none;
    margin: 0px auto;
}

.margin-b-width {
    margin-bottom: 56px;
}

.group-rectangle-image {
    height: 239px;
    width: 239px;
    text-align: center;
    line-height: 239px;
    margin: 0px auto;
    margin-top: 10px;
}

.margin-botom-cs-menu-our-menu {
    margin-bottom: 56px;
}

.title-card-our-menu {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #000000;
}

.paraf-card-our-menu {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #858585;
}

.price-our-menu {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #019267;
    /* margin: auto; */
}

.number-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #019267;
}

.btn-add-cart {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    width: 123px;
    height: 45px;
    background: linear-gradient(90deg, #096DE7 0%, #434FD7 52.07%, #6D3ACB 99.99%), linear-gradient(136.68deg, #0C82E9 0%, #0BDFF7 103.11%);;
    /* box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15); */
    border-radius: 25px;
    margin-top: -30px;
}

.img-card-out-menu {
    width: 100%;
    height: 100%;
}

.btn-add-cart:hover {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    width: 123px;
    height: 45px;
    color: #21CA5A;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
}

.label-brand{
    flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 15px;
gap: 10px;
width: 84px;
height: 39px;
background: #C052EE;
box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
border-radius: 25px;
margin-left: 26px;
font-size: 12px;
color: white;
}
/* close our menu */

/* open testimonial */
.heading-testimonial-h1-cs {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    color: #000000;
}

.paraf-cs-testimonial-p-cs {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #858585;
}

.profile-image {
    width: 65px;
    height: 65px;
    background-color: #aeaeae;
    border-radius: 50%;
    text-align: center;
}

.group-profile-testimonial {
    display: inline-flex;
}

.title-name-testimonial {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 0px;
}

.paraf-name-testimonial {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 0px;
    color: #000000;
}

.name-profile {
    margin: 10px;
}

.text-date-testimonial {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
    color: #000000;
}


.date-testimonial {
    margin: 20px auto; 
    float: right;
}

.message-testimonial {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    width: 327px;
    margin: 0px auto;
}

.img-profile-testimonial {
    width: 100%;
    height: 100%;
}

.card-cs-testimonial {
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    border: none;
}
/* close testimonial */

/* open footer */
.footer {
    background: linear-gradient(90deg, #096DE7 0%, #434FD7 52.07%, #6D3ACB 99.99%), linear-gradient(136.68deg, #0C82E9 0%, #0BDFF7 103.11%);;
    margin-top: 150px;
}
/* close footer */

.text-footer-cs-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.text-heading-footer {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #FFFFFF;
}

.group-icon-medsos {
    display: inline-flex;
}

.icon-medsos {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #FFFFFF;
    opacity: 0.5;
    border-radius: 5px;
    margin: 10px;
    transition: 1s;
}

.icon-medsos:hover {
    width: 40px;
    transform: rotate(30deg);
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 5px;
    margin: 10px;
}
/* close footer */

/* open  invoice */
.goup-search-invoice-text {
    margin: 0px auto;
    display: flex;
}
#form-control-cs-invoice {
    width: 350px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 12px;
    color: #3D3D3D;
}
.button-search-invoice {
    width: 70px;
    height: 50px;
    margin: 19px;
    background-color: white;
    color: #21CA5A;
    font-weight: bold;
}
.background-invoice {
    background-color: #21CA5A;
    height: 250px;
}

.text-label-invoice-cs {
    font-size: 16px;
    font-weight: bold;
    color: #21CA5A;
}

.table tbody tr td {
    font-size: 14px;
}

.table tbody tr th {
    font-size: 14px;
    color: #21CA5A;
}

.totalQTYtext {
    font-size: 14px;
}

.qty-right-text {
    font-size: 14px;
    float: right;
}

.card-invoice-total-qty {
    background-color: #21CA5A;
    border: none;
    color: white;
}

.statu-card {
    background-color: #ffff;
    color: #FEB500;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.table thead tr th {
    font-size: 14px;
    color: #21CA5A;
}

.font-invoice-text-cs-code {
    font-size: 26px;
       font-weight: bold;
    color: #21CA5A;
}

.heading-invoice{
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-top: 110px;
    text-align: center;
}

/* close invoice */
@media screen and (max-width: 900px) {
    .heading-h1-banner  {
        font-size: 20px;
        width: 100%;
    }

    .paraf-p-banner {
        font-size: 16px;
        width: 100%;
    }
    form.search input[type=text] {
        width: 300px;
        margin: 0px auto;
    }

    .image-banner {
        width: 100%;
        margin-left: 0px;
        position: relative;
    }

    .heading-h2-cs-page {
        font-size: 26px;
    }

    .paraf-p-follow {
        font-size: 16px;
        width: 100%;
    }

    .card-cs-background-green {
        width: 100%;
    }

    .icon-right {
        display: none;
    }

    .icon-right-white {
        display: none;
    }
    .image-about {
        width: 100%;
    }

    .heading-about-h1 {
        font-size: 20px;
    }

    .paraf-cs-about  {
        font-size: 16px;
    }

    .title-h5-count {
        font-size: 20px;
    }
    .paraf-p-count {
        font-size: 16px;
    }

    #our-menu {
       padding: 5px; 
    }

    .heading-our-menu-h1-cs {
        font-size: 20px;
        margin-top: 50px;
    }

    .card-our-menu {
        width: 100%;
    }

    .margin-b-width {
        margin-bottom: 200px;
    }
  }